<template>
  <div>
    <v-toolbar
      ref="mainToolbar"
      dark
      color="secondary"
      class="elevation-1"
    >
      <v-toolbar-title>Add Work Item</v-toolbar-title>
<!--      <v-spacer />-->
<!--      <v-tooltip bottom>-->
<!--        <template v-slot:activator="{ on, attrs }">-->
<!--          <v-btn-->
<!--            icon-->
<!--            v-bind="attrs"-->
<!--            v-on="on"-->
<!--            :to="createWorkItemRoute"-->
<!--          >-->
<!--            <v-icon>mdi-plus</v-icon>-->
<!--          </v-btn>-->
<!--        </template>-->
<!--        <span>Create Work Item</span>-->
<!--      </v-tooltip>-->
    </v-toolbar>
    <v-container fluid>
      <v-form
        ref="addWorkItemForm"
        v-model="isFormValid"
        autocomplete="off"
        novalidate
        @submit.prevent="submit"
      >
        <v-text-field
          v-model="name"
          :autofocus="true"
          :color="inputColor"
          :rules="nameRules"
          label="Name"
          name="name"
          placeholder="Crazy Talk: It's Time to Write Good User Stories"
          clearable
          validate-on-blur
          @blur="clearServerErrors"
        />
        <v-textarea
          v-model="description"
          :autofocus="false"
          :color="inputColor"
          :rules="descriptionRules"
          label="Description"
          name="Description"
          placeholder="You can provide a Markdown-formatted value here to be rendered separately."
          validate-on-blur
          @blur="clearServerErrors"
        />
        <v-btn
          :disabled="!isFormValid || isInitialFormState"
          color="primary"
          class="mt-3"
          block
          @click="submit"
        >
          Create Work Item
        </v-btn>
        <v-btn
          color="danger"
          class="mt-3"
          depressed
          block
          @click="cancel"
        >
          Cancel
        </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script lang="ts">
  // Import 3rd-party libraries.
  import Vue from 'vue';
  import {
    isEmpty as _isEmpty,
    isEqual as _isEqual
  } from 'lodash-es';

  // Import local files.
  import {
    Computed,
    Data,
    Methods,
    Props
  } from './add-work-item.d';
  import { log } from '@services';
  import { mapState } from 'vuex';
  import { GLOBAL_STORE_MODULE_NAME } from '@store/global';
  import { GlobalStoreState } from '@store/global/state';
  import { generateInitialFormData } from '@views/add-work-item/helpers';

  export const addWorkItemComponentName: string = 'add-work-item';

  export default Vue.extend<Data, Methods, Computed, Props>({
    name: addWorkItemComponentName,
    data() {
      const { description, name, workItemType } = generateInitialFormData();

      return {
        description,
        descriptionRules: [
          (val: string) => !_isEmpty(val) || 'Description is required!'
        ],
        isFormValid: false,
        name,
        nameRules: [
          (val: string) => !_isEmpty(val) || 'Name is required!'
        ],
        serverErrors: [],
        workItemType,
        workItemTypeRules: []
      };
    },
    mounted() {
      log.debug('addWorkItemForm', [this.$refs.addWorkItemForm]);
    },
    computed: {
      // @ts-ignore Ignoring this line as there is a problem when importing Vuex namespaced state variables with the type declarations.
      ...mapState(`${GLOBAL_STORE_MODULE_NAME}`, {
        inputColor: (state: GlobalStoreState) => state.inputColor
      }),
      isInitialFormState(): boolean {
        const { description, name, workItemType } = generateInitialFormData();

        return _isEqual(this.description, description)
          && _isEqual(this.name, name)
          && _isEqual(this.workItemType, workItemType);
      }
    },
    methods: {
      cancel() {
        log.debug('add-work-item:cancel');
        this.$router.go(-1);
      },
      clearServerErrors() {
        this.serverErrors = [];
      },
      submit() {
        log.debug('add-work-item:submit');
      }
    }
  });
</script>

<style lang="scss"></style>
