<template>
  <div>
    <v-toolbar
        ref="mainToolbar"
        dark
        color="secondary"
        class="elevation-1"
    >
      <v-toolbar-title>User Administration</v-toolbar-title>
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              icon
              v-bind="attrs"
              v-on="on"
              :to="createUserRoute"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Create User</span>
      </v-tooltip>
    </v-toolbar>
    <v-container fluid>
      <v-row align="start" no-gutters>
        <v-col cols="12">
          <v-data-table
            :footer-props="footer"
            :headers="headers"
            :items="users"
            :items-per-page="5"
            :loading="isLoading"
            class="elevation-1"
          >
            <v-progress-linear slot="progress" color="primary" indeterminate />
            <template v-slot:item.createdOn="{ item }">
              <span>{{ new Date(item.createdOn) }}</span>
            </template>
            <template v-slot:item.lastUpdatedOn="{ item }">
              <span>{{ new Date(item.lastUpdatedOn) }}</span>
            </template>
            <template v-slot:item.actions="{ item }">
              <div class="d-inline-flex">
                <v-btn
                  class="ma-0"
                  icon
                  small
                  @click.native="deleteUser(item.userId)"
                >
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
              </div>
              <div class="d-inline-flex">
                <v-btn
                  class="ma-0"
                  icon
                  small
                  @click.native="viewUser(item.userId)"
                >
                  <v-icon small>mdi-file-document</v-icon>
                </v-btn>
              </div>
            </template>
            <template slot="no-data">
              No Users are found on the system.
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs}">
                  <v-btn
                    icon
                    class="ml-2"
                    color="white"
                    v-bind="attrs"
                    @click.native="getAllUsers"
                    v-on="on"
                  >
                    <v-icon small>mdi-cached</v-icon>
                  </v-btn>
                </template>
                <span>Refresh</span>
              </v-tooltip>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
  // Import 3rd party libraries.
  import Vue from 'vue';

  // Import local files.
  import {
    log,
    webAppServer
  } from '@services';
  import { User } from '@services/web-app-server/types/user';
  import { addUserComponentName } from '../users/add-user/add-user.vue';
  import {
    Computed,
    Data,
    Methods,
    Props
  } from './admin-users.d'

  export default Vue.extend<Data, Methods, Computed, Props>({
    name: 'user-list',
    data() {
      return {
        createUserRoute: {
          name: addUserComponentName
        },
        footer: {
          itemsPerPageOptions: [5, 10, 15, -1],
          itemsPerPageText: 'Users Per Page:',
          showFirstLastPage: true
        },
        headers: [
          { text: 'User ID', sortable: false, value: 'userId' },
          { text: 'Username', sortable: true, value: 'username' },
          { text: 'Full Name', sortable: true, value: 'fullName' },
          { text: 'Email Address', sortable: true, value: 'emailAddress' },
          { text: 'Created', sortable: true, value: 'createdOn' },
          { text: 'Last Updated', sortable: true, value: 'lastUpdatedOn' },
          { text: 'Quick Actions', sortable: false, value: 'actions' }
        ],
        isLoading: false,
        users: []
      };
    },
    mounted() {
      this.getAllUsers();
    },
    destroyed() {
      this.isLoading = false;
      this.users = [];
    },
    methods: {
      deleteUser(userId: User['userId']) {
        log.debug(`Delete User: ${userId}`);
        this.isLoading = true;

        webAppServer.users.deleteUserById(userId)
        .then(this.getAllUsers)
        .catch((err) => {
          log.error(err.message, [err.stack]);
        });
      },
      getAllUsers() {
        this.isLoading = true;

        webAppServer.users.getAll()
          .then(({ data: users }) => {
            this.isLoading = false;
            this.users = users;

            log.info('Users loaded.', [this.users]);
          })
          .catch((err) => {
            log.error(err.message, [err.stack]);

            this.isLoading = false;
            this.users = [];
          });
      },
      viewUser(userId: User['userId']) {
        log.debug(`View User: ${userId}`);
      }
    }
  });
</script>

<style scoped lang="scss">

</style>
