<template>
  <v-snackbar
    bottom
    :dark="isDarkTheme"
    :timeout="timeout"
    :value="isShown"
    @input="hide"
  >
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn
        v-if="isActionButtonShown"
        text
        color="secondary"
        :dark="isDarkTheme"
        v-bind="attrs"
        @click.native="activateActionButton"
      >
        {{ actionText }}
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  // Import 3rd party libraries.
  import Vue from 'vue';
  import {
    mapActions,
    mapState
  } from 'vuex';
  import {
    invoke as _invoke,
    isNil as _isNil
  } from 'lodash-es';

  // Import local files.
  import { HIDE_NOTIFICATION } from '@store/global/action-types';
  import { GLOBAL_STORE_MODULE_NAME } from '@store/global';

  export default Vue.extend({
    name: 'notifications',
    computed: {
      ...mapState(`${GLOBAL_STORE_MODULE_NAME}`, {
        actionCallback: state => state.notification.actionCallback,
        actionText: state => state.notification.actionText,
        isActionButtonShown: state => !_isNil(state.notification.actionText),
        isDarkTheme: state => state.isDarkTheme,
        isShown: state => state.notification.isShown,
        message: state => state.notification.message,
        timeout: state => state.notification.timeout
      })
    },
    methods: {
      ...mapActions({
        hide: `${GLOBAL_STORE_MODULE_NAME}/${HIDE_NOTIFICATION}`
      }),
      activateActionButton($event) {
        // Need to do the Lodash invoke() function because it is possible that the ".actionCallback" could be "null".
        this.hide()
          .then(() => _invoke(this, 'actionCallback', $event));
      }
    }
  });
</script>

<style scoped lang="scss">
  .progress-circular {
    overflow: hidden;
  }
</style>
