<template>
  <div>
    <v-toolbar
        ref="mainToolbar"
        dark
        color="secondary"
        class="elevation-1"
    >
      <v-toolbar-title>Work Items</v-toolbar-title>
      <v-spacer />
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            :to="createWorkItemRoute"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Create Work Item</span>
      </v-tooltip>
    </v-toolbar>
    <v-container fluid>
      <v-row align="start" no-gutters>
        <v-col cols="12">
          <v-data-table
            :headers="tableHeaders"
            :items="workItems"
            :loading="isLoadingWorkItemTypes || isLoadingWorkItems"
            :options.sync="tableOptions"
            dense
            class="elevation-1"
            sort-by="lastUpdatedOn"
          >
            <template v-slot:item.type="{ item }">
              <span>{{ item.type.name }}</span>
            </template>
            <template v-slot:item.lastUpdatedOn="{ item }">
              <span>{{ item.lastUpdatedOnDisplayValue }}</span>
            </template>
            <template v-slot:item.createdOn="{ item }">
              <span>{{ item.createdOnDisplayValue }}</span>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
  // Import 3rd-party libraries.
  import Vue from 'vue';
  import {
    find as _find,
    first as _first,
    isUndefined as _isUndefined,
    map as _map,
    merge as _merge,
    noop as _noop
  } from 'lodash-es';
  import {
    mapGetters,
    mapState
  } from 'vuex';

  // Import local files.
  import {
    Computed,
    Data,
    Methods,
    Props
  } from './work-items.d'
  import {
    log,
    webAppServer
  } from '@services';
  import serverTimestampStringToHumanReadable from '@helpers/date-format';
  import { REFERENCE_DATA_STORE_MODULE_NAME } from '@store/reference-data';
  import { ReferenceDataStoreState } from '@store/reference-data/state';
  import { default as createWorkItemRoute } from '@routes/work-items/add-work-item';

  export const workItemComponentName = 'work-items';

  export default Vue.extend<Data, Methods, Computed, Props>({
    name: workItemComponentName,
    data() {
      return {
        createWorkItemRoute,
        tableHeaders: [
          { text: 'Type', value: 'type', align: 'start', sortable: true },
          { text: 'Name', value: 'name', align: 'start', sortable: false },
          { text: 'Last Updated On', value: 'lastUpdatedOn', align: 'end', sortable: true },
          { text: 'Created On', value: 'createdOn', align: 'end', sortable: true },
        ],
        tableOptions: {
          page: 1,
          itemsPerPage: 10,
          sortBy: ['lastUpdatedOn'],
          sortDesc: [true],
          groupBy: [],
          groupDesc: [],
          multiSort: false,
          mustSort: true
        },
        workItems: undefined
      };
    },
    watch: {
      tableOptions: {
        handler() {
          this.loadWorkItems();
        },
        deep: true
      }
    },
    computed: {
      ...mapGetters(REFERENCE_DATA_STORE_MODULE_NAME, {
        isLoadingWorkItemTypes: 'isLoadingWorkItemTypes'
      }),
      ...mapState<ReferenceDataStoreState>(REFERENCE_DATA_STORE_MODULE_NAME, {
        workItemTypes: (state: ReferenceDataStoreState) => state.workItemTypes
      }),
      isLoadingWorkItems() {
        return _isUndefined(this.workItems);
      }
    },
    methods: {
      loadWorkItems() {
        this.workItems = undefined;

        return new Promise((resolve, reject) => {
          webAppServer.workItems
            .getWorkItems({
              limit: this.tableOptions.itemsPerPage,
              // Subtracting 1 from the page because Vuetify sets the "page" to start at 1 instead of 0.
              offset: this.tableOptions.page - 1,
              sortKey: _first(this.tableOptions.sortBy),
              sortDirection: _first(this.tableOptions.sortDesc) ? 'desc' : 'asc'
            })
            .then(({ data: workItems }) => {
              this.workItems = _map(workItems, ((workItem) => _merge({}, workItem, {
                type: _find(this.workItemTypes, ['slug', workItem.typeSlug]),
                createdOnDisplayValue: serverTimestampStringToHumanReadable(workItem.createdOn),
                lastUpdatedOnDisplayValue: serverTimestampStringToHumanReadable(workItem.lastUpdatedOn)
              })));

              return resolve();
            })
            .catch((err) => {
              this.workItems = [];

              log.exception(err);

              return reject(err);
            });
        });
      }
    }
  });
</script>

<style scoped lang="scss">

</style>
