<template>
  <v-app v-cloak>
    <side-nav />
    <top-nav />
    <v-main fill-height>
      <router-view :key="$route.fullPath" />
    </v-main>
    <loading-indicator />
    <notifications />
  </v-app>
</template>

<script lang="ts">
  // Import 3rd party libraries.
  import Vue from 'vue';
  import {
    mapActions,
    mapState
  } from 'vuex';

  // Import local files.
  import { log } from '@services';
  import LoadingIndicator from '@components/loading-indicator/loading-indicator.vue';
  import Notifications from '@components/notifications/notifications.vue';
  import SideNav from '@components/side-nav/side-nav.vue';
  import TopNav from '@components/top-nav/top-nav.vue';
  import { INIT as GLOBAL_INIT } from '@store/global/action-types';
  import { GLOBAL_STORE_MODULE_NAME } from '@/store/global';
  import { REFERENCE_DATA_STORE_MODULE_NAME } from '@store/reference-data';
  import { INIT as REFERENCE_DATA_INIT } from '@store/reference-data/action-types';
  import { GlobalStoreState } from '@store/global/state';

  export default Vue.extend({
    name: 'app',
    components: {
      LoadingIndicator,
      Notifications,
      SideNav,
      TopNav
    },
    computed: {
      // @ts-ignore Ignoring this line as there is a problem when importing Vuex namespaced state variables with the type declarations.
      ...mapState(`${GLOBAL_STORE_MODULE_NAME}`, {
        isDarkTheme: (state: GlobalStoreState) => state.isDarkTheme
      })
    },
    beforeMount() {
      return Promise.all([this.globalInit(), this.referenceDataInit()])
        .then(this.setVuetifyTheme)
        .then(() => log.info('App initialized.'))
        .catch(log.exception);
    },
    methods: {
      ...mapActions({
        globalInit: `${GLOBAL_STORE_MODULE_NAME}/${GLOBAL_INIT}`,
        referenceDataInit: `${REFERENCE_DATA_STORE_MODULE_NAME}/${REFERENCE_DATA_INIT}`
      }),
      setVuetifyTheme() {
        return new Promise((resolve) => {
          this.$vuetify.theme.dark = this.isDarkTheme;

          return resolve(null);
        });
      }
    }
  });
</script>

<style scoped lang="scss">

</style>
