<template>
  <v-app-bar
    app
    clipped-left
    dark
    fixed
    color="primary"
  >
    <v-app-bar-nav-icon @click.stop.prevent.native="setSideNav(true)" />
    <v-toolbar-title router :to="{ path: '/' }">Transparently</v-toolbar-title>
    <v-spacer />
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
          @click="toggleDarkMode"
        >
          <v-icon>{{ darkThemeIcon }}</v-icon>
        </v-btn>
      </template>
      <span>{{ darkThemeTooltip }}</span>
    </v-tooltip>
  </v-app-bar>
</template>

<script>
  // Import 3rd party libraries.
  import Vue from 'vue';
  import {
    mapActions,
    mapState
  } from 'vuex';

  // Import local files.
  import { GLOBAL_STORE_MODULE_NAME } from '@store/global';

  export default Vue.extend({
    name: 'top-nav',
    computed: {
      ...mapState(GLOBAL_STORE_MODULE_NAME, {
        isDarkTheme: (state) => state.isDarkTheme
      }),
      darkThemeIcon() {
        return this.isDarkTheme ? 'mdi-invert-colors-off' : 'mdi-invert-colors';
      },
      darkThemeTooltip() {
        return this.isDarkTheme ? 'Turn Dark Mode Off' : 'Turn Dark Mode On'
      }
    },
    methods: {
      ...mapActions({
        setDarkTheme: `${GLOBAL_STORE_MODULE_NAME}/setDarkTheme`,
        setSideNav: `${GLOBAL_STORE_MODULE_NAME}/setSideNav`
      }),
      toggleDarkMode() {
        // The Vuetify theme value should be set before calling the Vuex action, or the value will be set incorrectly.
        this.$vuetify.theme.dark = !this.isDarkTheme;
        this.setDarkTheme(!this.isDarkTheme);
      }
    }
  });
</script>

<style scoped lang="scss"></style>
