<template>
  <v-navigation-drawer
    :value="isOpen"
    app
    clipped
    fixed
    temporary
    data-nw="main-nav"
    @input="handleNavStateInputChange($event)"
  >
    <!--    <template v-slot:prepend>-->
    <!--      <v-list-item-->
    <!--        :to="userProfile"-->
    <!--        exact-->
    <!--        exact-active-class="secondary&#45;&#45;text"-->
    <!--        two-line-->
    <!--      >-->
    <!--        <v-list-item-avatar>-->
    <!--          <img v-if="hasProfileImage" :src="profileImage" alt="User-Provided Profile Image" />-->
    <!--          <v-avatar-->
    <!--            v-else-->
    <!--            color="secondary"-->
    <!--            size="40"-->
    <!--          >-->
    <!--            <v-icon dark size="35">account_circle</v-icon>-->
    <!--          </v-avatar>-->
    <!--        </v-list-item-avatar>-->
    <!--        <v-list-item-content>-->
    <!--          <v-list-item-title v-text="fullName" />-->
    <!--        </v-list-item-content>-->
    <!--      </v-list-item>-->
    <!--    </template>-->
    <v-list dense nav>
      <div v-for="navGroup in mainNavRoutes" :key="navGroup.displayName">
        <v-subheader>{{ navGroup.displayName }}</v-subheader>
        <v-list-item-group>
          <v-list-item
            v-for="route in navGroup.routes"
            :key="route.name"
            :exact-active-class="listItemColorClass"
            :to="{ name: route.name }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ route.meta.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ route.meta.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </div>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Import 3rd party libraries.
  import Vue from 'vue';
  import {
    mapActions,
    mapState
  } from 'vuex';
  import { noop as _noop } from 'lodash-es';

  export default Vue.extend({
    name: 'side-nav',
    computed: {
      ...mapState('global', {
        isDarkTheme: state => state.isDarkTheme,
        isOpen: state => state.mainNav.isOpen,
        mainNavRoutes: state => state.mainNav.routes
      }),
      listItemColorClass() {
        return this.isDarkTheme ? 'secondary--text' : 'primary--text';
      }
    },
    methods: {
      ...mapActions({
        setSideNav: 'global/setSideNav'
      }),
      handleNavStateInputChange(isOpen) {
        isOpen ? _noop() : this.setSideNav(isOpen);
      }
    }
  });
</script>

<style scoped lang="scss">

</style>
