<template>
  <v-container fluid>
    <v-form
      ref="createUserForm"
      v-model="isFormValid"
      autocomplete="off"
      novalidate
      @submit.prevent="submit"
    >
      <v-text-field
        v-model="username"
        :autofocus="true"
        :color="inputColor"
        :rules="usernameRules"
        :validate-on-blur="true"
        label="Username"
        placeholder="my_username33"
        clearable
        @blur="clearServerErrors"
      />
      <v-text-field
        v-model="emailAddress"
        :hint="emailAddressHint"
        :rules="emailAddressRules"
        :validate-on-blur="true"
        label="Email Address"
        placeholder="first.last@transparently.com"
        clearable
      />
      <v-text-field
        v-model="fullName"
        :hint="fullNameHint"
        :rules="fullNameRules"
        :validate-on-blur="true"
        label="Full Name"
        placeholder="First Middle Last-Hyphenated"
        clearable
      />
      <v-btn
        :disabled="!isFormValid"
        color="primary"
        class="mt-3"
        block
        @click="submit"
      >
        Create User
      </v-btn>
      <v-btn
        color="danger"
        class="mt-3"
        depressed
        block
        @click="cancel"
      >
        Cancel
      </v-btn>
    </v-form>
  </v-container>
</template>

<script lang="ts">
  // Import 3rd-party libraries.
  import { default as Vue } from 'vue';
  import {
    includes as _includes,
    isEmpty as _isEmpty
  } from 'lodash-es';
  import { mapState } from 'vuex';
  import { AxiosError } from 'axios';
  import { InputValidationRules } from 'vuetify';

  // Import local files.
  import { GLOBAL_STORE_MODULE_NAME } from '@store/global';
  import {
    log,
    webAppServer
  } from '@services';
  import { GlobalStoreState } from '@store/global/state';
  import {
    Data,
    Computed,
    Methods,
    Props
  }
  from './add-user';

  export const addUserComponentName: string = 'add-user';

  export default Vue.extend<Data, Methods, Computed, Props>({
    name: addUserComponentName,
    data() {
      return {
        bottomNavValue: '',
        emailAddress: '',
        emailAddressHint: 'This must be a valid email address (e.g. example@xmpl.co).',
        emailAddressRules: [
          (inputVal: string) => !_isEmpty(inputVal) || 'Email Address is required.',
          // eslint-disable-next-line no-control-regex
          (inputVal: string) => /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(inputVal) || 'Email must be valid'
        ],
        fullName: '',
        fullNameHint: 'This is your full name that will be displayed throughout the application.',
        fullNameRules: [
          (inputVal: string) => !_isEmpty(inputVal) || 'Full Name is required.'
        ],
        isFormValid: false,
        possibleServerErrors: {
          E_DUPLICATE_USERNAME: 'The username already exists on the server.',
          E_BLANK_USERNAME: 'The username can not be blank.'
        },
        serverErrors: [],
        username: '',
        usernameRules: [
          (inputVal: string) => !_isEmpty(inputVal) || 'Username is required.',
          (inputVal: string) => /^\S*$/.test(inputVal) || 'Username must not contain spaces.',
          // @ts-ignore "this" is not able to be type-inferenced with the data points already accessible on the instance, as it just expects "this" to be a common Vue component.
          () => !_includes(this.serverErrors, 'E_DUPLICATE_USERNAME') || this.possibleServerErrors.E_DUPLICATE_USERNAME,
          // @ts-ignore "this" is not able to be type-inferenced with the data points already accessible on the instance, as it just expects "this" to be a common Vue component.
          () => !_includes(this.serverErrors, 'E_BLANK_USERNAME') || this.possibleServerErrors.E_BLANK_USERNAME
        ]
      };
    },
    computed: {
      // @ts-ignore Ignoring this line as there is a problem when importing Vuex namespaced state variables with the type declarations.
      ...mapState(GLOBAL_STORE_MODULE_NAME, {
        inputColor: (state: GlobalStoreState) => state.inputColor
      })
    },
    methods: {
      cancel(): void {
        this.resetForm();
        this.goBack();
      },
      clearServerErrors(): void {
        this.serverErrors = [];
      },
      goBack(): void {
        this.$router.go(-1);
      },
      resetForm(): void {
        (<HTMLFormElement>this.$refs.createUserForm).reset();
        this.clearServerErrors();
        this.emailAddress = '';
        this.fullName = '';
        this.username = '';
      },
      submit(): void {
        // TODO: Validate the form before attempting to submit.
        this.clearServerErrors();
        this.validateForm();

        log.debug('add-user:submit', [(<HTMLFormElement>this.$refs.createUserForm).value]);
        webAppServer.users.createUser({ username: this.username, emailAddress: this.emailAddress, fullName: this.fullName })
            .then(({ data: user }) => {
              log.debug('User:', [user]);
              this.goBack();
            })
            .catch((err: AxiosError) => {
              log.error('Error when creating User:', [err.response]);
              this.serverErrors = [err?.response?.data?.code];
              this.validateForm();
            });
      },
      validateForm(): void {
        (<HTMLFormElement>this.$refs.createUserForm).validate();
      }
    }
  });
</script>
