<template>
  <v-container fluid>
    <div class="text-h3">
      {{ msg }}
    </div>
  </v-container>
</template>

<script lang="ts">
  // Import 3rd-party libraries.
  import { default as Vue } from 'vue';

  export const homeComponentName: string = 'home';

  export default Vue.extend({
    name: homeComponentName,
    data() {
      return {
        msg: 'Welcome to Transparently!'
      };
    }
  });
</script>

<style scoped lang="scss">

</style>
