<template>
  <v-overlay :value="isShown">
    <v-progress-circular
      indeterminate
      color="primary"
      size="150"
      width="3"
    />
  </v-overlay>
</template>

<script lang="ts">
  // Import 3rd-party libraries.
  import { mapState } from 'vuex';

  // Import local files.
  import { GLOBAL_STORE_MODULE_NAME } from '@store/global';
  import { GlobalStoreState } from '@store/global/state';

  export default {
    name: 'loading-indicator',
    computed: {
      // @ts-ignore Ignoring this line as there is a problem when importing Vuex namespaced state variables with the type declarations.
      ...mapState(`${GLOBAL_STORE_MODULE_NAME}`, {
        isShown: (state: GlobalStoreState) => state.isFullScreenLoadingIndicatorShown
      })
    }
  };
</script>

<style lang="scss">
  .dialog.loading-indicator-dialog {
    box-shadow: none;
  }
</style>

<style scoped lang="scss">
 .progress-circular {
   overflow: hidden;
 }
</style>
