<template>
  <div>
    <h1>LOL YOU LOST FOOL</h1>
  </div>
</template>

<script>
  // Import 3rd-party libraries.
  import Vue from 'vue';

  export default Vue.extend({
    name: 'not-found',
    data() {
      return {};
    }
  });
</script>

<style scoped lang="scss">

</style>
